#cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#cards section {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

#cards section img {
    height: 100px;
    border: 1px solid #fff;
    box-shadow: 0 0 1rem #555;
    flex-shrink: 0;
}

#cards section div {
    flex: 1;
}

#cards section h2 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

#cards section p {
    font-size: 1rem;
    line-height: 1.5;
    color: #646ca4;
}